.About{
    background-color: #F4F6FF;
    display: flex;
    flex-direction: row;
}
.profile{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.profile img{
    width: 20rem;
    height: 25rem;
    position: absolute;
    border: 1px var(--black) solid;
    animation: pro  linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.img-bor{
    border: .3rem tomato solid;
    width: 20rem;
    height: 25rem;
    transform: translate(1.5rem,1.5rem);
    animation: pro  linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes pro {
    from{
        scale: 0.5;
        opacity: 0.5;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}
.details{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.details h1{
    font-size: 3rem;
    margin-bottom: .5rem;
    animation: pro1 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.details h3{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    animation: pro1 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.details p{
    font-size: 1.2rem;
    padding-right: 3rem;
    animation: pro1 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.DL{
    width: .8rem;
    padding-top: 1rem;
    animation: pro1 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.Dot{
    width: .5rem;
    height: .5rem;
    border: #F95454 .15rem  solid;
    border-radius: 50%;
}
.Line{
    width: .1rem;
    height: 1rem;
    background-color: #0B192C;
    margin-left: .35rem;
}
.dtl{
    position: absolute;
    top: 71.4rem;
    left: 49rem;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    animation: pro1 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    div{
        display: flex;
        flex-direction: row;
        p{
            margin-left: .5rem;
        }
    }
}
@keyframes pro1 {
    from{
        margin-left: 5rem;
        opacity: 0.5;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}